<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
    @media print {
        .pagebreak {
            clear: both;
            page-break-after: always;
        }
    }

    .grid-container {
        table-layout:fixed;
    }

    .ritz .waffle a {
        color: inherit;
    }

    .ritz .waffle .s3 {
        border-left: none;
        background-color: #ffffff;
    }

    .ritz .waffle .s8 {
        background-color: #ffffff;
        text-align: left;
        font-weight: bold;
        color: #222222;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s6 {
        background-color: #ffffff;
        text-align: left;
        font-weight: bold;
        color: #2a3990;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s7 {
        background-color: #ffffff;
        text-align: left;
        font-weight: bold;
        color: #2a3990;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s0 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s4 {
        background-color: #ffffff;
        text-align: right;
        font-weight: bold;
        color: #000000;
        font-family: 'docs-Roboto', Arial;
        font-size: 12pt;
        vertical-align: bottom;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s11 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s10 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s13 {
        background-color: #ffffff;
        text-align: center;
        color: #412a4c;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s2 {
        border-left: none;
        border-right: none;
        background-color: #ffffff;
    }

    .ritz .waffle .s15 {
        background-color: #ffffff;
        text-align: left;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s14 {
        background-color: #ffffff;
        text-align: left;
        color: #222222;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s1 {
        border-right: none;
        background-color: #ffffff;
        text-align: left;
        font-weight: bold;
        color: #2a3990;
        font-family: 'docs-Roboto', Arial;
        font-size: 24pt;
        vertical-align: middle;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s5 {
        background-color: #ffffff;
        text-align: left;
        color: #666666;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: middle;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s16 {
        background-color: #ffffff;
        text-align: right;
        font-weight: bold;
        color: #000000;
        font-family: 'Arial';
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        overflow: hidden;
        word-wrap: break-word;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s9 {
        background-color: #ffffff;
        text-align: left;
        font-weight: bold;
        color: #412a4c;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }

    .ritz .waffle .s12 {
        background-color: #ffffff;
        text-align: left;
        color: #412a4c;
        font-family: 'docs-Roboto', Arial;
        font-size: 10pt;
        vertical-align: bottom;
        white-space: normal;
        direction: ltr;
        padding: 2px 3px 2px 3px;
    }
</style>
<!-- References https://stackoverflow.com/a/1664058 -->
<div class="pagebreak"> </div>
<div class="ritz grid-container" dir="ltr">
    <table class="waffle no-grid" cellspacing="0" cellpadding="0">
        <tbody>
            <tr style="height: 20px">
                <td class="s1 softmerge" dir="ltr" colspan="5">
                    <div class="softmerge-inner" style="width:327px;left:-1px">Summary Report</div>
                </td>
                <td></td>
            </tr>
            <tr style="height: 20px">
                <th id="332883570R1" style="height: 20px;" class="row-headers-background">
                </th>
                <td class="s4" dir="ltr"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
                <td class="s5"></td>
            </tr>
            <tr style="height: 20px">
                <th id="332883570R2" style="height: 20px;" class="row-headers-background">
                </th>
                <td class="s6" dir="ltr" colspan="4">Description</td>
                <td class="s7" dir="ltr">Duration</td>
                <td class="s7" dir="ltr">Start Date</td>
            </tr>
            {% set sums = namespace(items=0) %}
            {% set sums.sumHours = 0 %}
            {% for invoiceItem in invoiceItems %}
            <tr style="height: 20px">
                <th style="height: 20px;" class="row-headers-background">
                </th>
                <td class="s11" dir="ltr" colspan="4">{{invoiceItem.description}}</td>
                <td class="s11" dir="ltr">{{secondsToHoursMinutesSeconds(invoiceItem.durationInSeconds)}}</td>
                <td class="s11" dir="ltr">{{epochToMMDDYYYYString(invoiceItem.startTimeEpochInSeconds)}}</td>
                {% set sums.sumHours = sums.sumHours+invoiceItem.durationInSeconds %}
            </tr>
            {% endfor %}
           
            {# <tr style="height: 20px">
                <td class="s16" dir="ltr" colspan="6">Total</td>
                <td class="s11">{{secondsToHoursMinutesSeconds(sums.sumHours)}}</td>
            </tr> #}
        </tbody>
    </table>
</div>